.container {
    min-height: calc(100vh - 80px);
    display: flex;
    padding: 0px 10px;

    @media (max-width: 989px) {
        flex-direction: column;
        gap: 50px;
    }

    .left {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        gap: 30px;



        .details {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 14px;

            p {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

            }
        }

        .status {
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 14px;

            .done {
                display: flex;
                align-items: center;
                gap: 5px;

                @media (max-width: 768px) {
                    width: 100%;
                    justify-content: space-between;
                }

                .doneIcon {
                    color: green;
                }
            }

            .progress {
                display: flex;
                align-items: center;
                gap: 5px;
                animation: progress 1s ease infinite alternate;

                @media (max-width: 768px) {
                    width: 100%;
                    justify-content: space-between;
                }

                .doneIcon {
                    color: green;
                    display: none;
                }

            }

            @keyframes progress {
                from {
                    opacity: 0;
                }

                to {

                    opacity: 1;
                }
            }

            .notdone {
                display: flex;
                align-items: center;
                gap: 5px;
                opacity: 0.5;

                @media (max-width: 768px) {
                    width: 100%;
                    justify-content: space-between;
                }

                .doneIcon {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;

            }
        }


    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;




        .coupons {
            height: auto;

            .couponToggle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0px 10px;
                height: 50px;
                border-radius: 30px;
                background: whitesmoke;
                border: thin solid rgb(235, 235, 235);

                .heading {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    color: #ed6c02;

                    p {
                        font-weight: 500;
                        color: black;
                    }
                }

                .toggleArrow {
                    cursor: pointer;
                }
            }
        }

        .bill {
            border: 1px solid black;
            min-height: 200px;
            border-radius: 30px;
            background: whitesmoke;
            border: thin solid rgb(235, 235, 235);
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            margin-bottom: 10px;


            .title {
                font-weight: 600;
                font-size: 18px;
            }

            .billItem {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;

                .color {
                    color: #ed6c02;
                    font-weight: 400;
                }
            }

            button {
                height: 35px;
                border: none;
                outline: none;
                font-weight: 500;
                color: #ed6c02;
                cursor: pointer;
                background: white;
                border: 2px solid #ed6c02;
                cursor: not-allowed;
            }
        }
    }
}